
footer{
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #f0f0f0;
    color: black;
}

footer .logo{
    width: 200px;
}

footer .container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    font-weight: 600;
}

footer .container div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

footer a{
    text-decoration: none;
    color: black;
}

footer .container div ul{
    list-style-type: none;
    padding: 0;
}