.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.container{
  justify-content: center;
  display: flex;
  max-width: 90%;
}

main{
  min-height: 100vh;
  flex-grow: 1;
  margin-bottom: 10px;
  margin-top: 10px;
}

button{
  background-color:#F4CE14 ;
  border-radius: 16px;
  padding: 10px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: #e8c307;
  transform: scale(1.05);
}

button:active {
  background-color: #cda306;
  transform: scale(0.95);
}
